recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
include CHANGES LICENSE AUTHORS readme.md
include examples/*.dot
include examples/*dtti.tex
include tests/testgraphs/*.dot
prune tests/testgraphs/*/*.dot
include tests/testgraphs/parsetests/*.dot
include tests/test_comparedotparsing.py
include tests/test_multirender.py
include tests/test_buildexamples.py
include tests/test_dot2tex.py
prune examples/*dot2tex-fig*
include examples/gvcols.tex
prune docs/_build

